<div class="wrapper-title">
  <div class="container-title-par">
    <h1>BUDDY TRAVEL</h1>
    <p>Create the trip of your dream with your Friends</p>
  </div>

</div>


<div class="card-1">
  <h3>Create your trip</h3>
  <p>Choose your destination,</p>
  <p>Add Activities</p>

</div>

<div class="card-2">
  <h3>Add yours friends</h3>
  <p>Choose your destination,</p>
  <p>Plan Together !</p>
</div>

<div class="card-3">
  <h3>Share your Memories</h3>
  <p>Add Pictures,</p>
  <p>Share your tips !</p>
</div>

</div>