<div class="wrapper-title">
  <div class="container-title-par">
    <h1>Welcome to the best website -NAME</h1>
    <p>Create the trip of your dream</p>
  </div>
</div>

<div class="card-1">
  <h3>1. Create your trip</h3>
  <p>Choose your destination,</p>
  <p>Choose ,</p>
</div>

<div class="card-2"></div>

<div class="card-2"></div>