<h1> About Us </h1>

<img src='https://media.giphy.com/media/kxc4AKi13x95u/giphy.gif' width="50%"

<div class="Jerem">
  <h3> Jeremie </h3>
  <img src="">
<p> I love to code Youhou </p>
</div>

<div class="Jb">
  <h3> JB  </h3>
  <img src="">
<p>Still don't know to play guitare  </p>
</div>