<div class="container-form-signupp ">

  <h2> User Personal Info </h2>

  <form id="centered-element" action="/process-signup" method="POST" enctype="multipart/form-data">
    <label id="centered-element">
      FirstName :
{{blahUser.firstName}}

    </label>
    <br />
    <br />
    <label id="centered-element">
      Name :
{{blahUser.name}}

    </label>
    <br />
    <br />
    <label id="centered-element">
      Username :
{{blahUser.username}}
    </label>

  
    <br />
  
    <br />
    <br />

    <div class="picture">
      <label id="centered-element">
        Your Profil Picture:
<img src="{{blahUser.imageUrl}}" width="25px" height="30px">       </label>
    </div>

    <br>
    <br>

 
    </div>
   

  
  </form>
</div>