<h2> Log in  </h2>




<form action="/process-login" method="POST">
<label>
  Username : 
<input type="text" name="username" class="form-control" placeholder="Your Username"/>
<br />
</label>


<label>
Password : 
<input type="password" name="password" class="form-control" placeholder="e.g ********* "/>
<br />  
</label>
<br>
<button class="btn btn-primary">Log in </button>
</form>

<a href="/google/login" class="btn btn-primary"> Log in with google</a>

