<div class="container-form-login">
  <h2 id="title-create"> Log in </h2>
  <form action="/process-login" method="POST">
    <label>
      Username :
      <input type="text" name="username" class="form-control" placeholder="Your Username" />
      <br />
    </label>


    <label>
      Password :
      <input type="password" name="password" class="form-control" placeholder="e.g ********* " />
      <br />
    </label>
    <br>
    <button class="login-btn">
      <a href="#">Log in</a>
    </button>
  </form>

  <button class="google-btn">
    <a href="/google/login"> Log in with Google</a>
  </button>

</div>