<div class="container-form-signup">

  <h2 id="title-create"> Sign Up </h2>

  <form id="centered-element" action="/process-signup" method="POST" enctype="multipart/form-data">
    <label id="centered-element">
      FirstName :
      <input id="centered-element" type="text" name="firstName" class="form-control" placeholder="e.g IronHack name " />

    </label>
    <br />
    <br />
    <label id="centered-element">
      Name :
      <input type="text" name="name" class="form-control" placeholder="e.g IronHack name " />

    </label>
    <br />
    <br />
    <label id="centered-element">
      Username :
      <input type="text" name="username" class="form-control" placeholder="e.g IronHack name " />

    </label>

    <br />
    <br />
    <label id="centered-element">
      Email :
      <input type="text" name="email" class="form-control" placeholder="e.g iron@hack.com" />

    </label>
    <br />
    <br />
    <label id="centered-element">
      Password :
      <input type="password" name="password" class="form-control" placeholder="e.g ********* " />


    </label>
    <br />
    <br />

    <div class="picture">
      <label id="centered-element">
        Your Profil Picture:
        <input type="File" name="image" placeholder="...">
      </label>
    </div>

    <br>
    <br>

    <div class="checkbox">
      <label>
        <input type="checkbox"> I want to receive emails from you 🙈
      </label>
    </div>
    <button class="login-btn-2">
      <a href="#"> Sign Up </a>
    </button>

    <button class="google-btn-2">
      <a href="/google/login"> Sign Up with google</a>
    </button>
  </form>
</div>