<h2> Sign Up </h2>

<form action="/process-signup" method="POST" enctype="multipart/form-data">
  <label> 
    FirstName : 
<input type="text" name="firstName" class="form-control" placeholder="e.g IronHack name "/>

  </label>
  <br />
<br /> 
   <label> 
    Name : 
<input type="text" name="name"  class="form-control" placeholder="e.g IronHack name "/>

  </label> 
<br />
<br />
 <label> 
    Username : 
<input type="text" name="username" class="form-control" placeholder="e.g IronHack name "/>

  </label> 

<br />
<br />
<label>
  Email : 
<input type="text" name="email" class="form-control" placeholder="e.g iron@hack.com"/>

</label>
<br />
<br />
<label>
Password : 
<input type="password" name="password" class="form-control"  placeholder="e.g ********* "/>


</label>
<br />
<br />

  <label>
     Your Profil Picture:
    <input type="File" name="image" class="form-control btn btn-info" placeholder="...">
  </label>


  <br>
  <br>

 <div class="checkbox">
    <label>
      <input type="checkbox"> I want to receive emails from you 🙈
    </label>
  </div>
<button class="btn btn-primary"> Sign Up </button>
</form>
<button class="btn btn-primary">
<a href="/google/login"> Sign Up with google</a> </button>