<h2> Sign Up frere </h2>

<form action="/process-signup" method="POST" enctype="multipart/form-data">
  <label> 
    FirstName : 
<input type="text" name="firstName" placeholder="e.g IronHack name "/>
<br /> 
<br />
  </label> 
   <label> 
    name : 
<input type="text" name="name" placeholder="e.g IronHack name "/>
<br /> 
<br />
  </label> 

 <label> 
    username : 
<input type="text" name="username" placeholder="e.g IronHack name "/>
<br /> 
<br />
  </label> 


<label>
  Email : 
<input type="text" name="email" placeholder="e.g iron@hack.com"/>
<br />
<br />
</label>

<label>
Password : 
<input type="password" name="password" placeholder="e.g ********* "/>
<br />  

</label>


  <label for="email">Your Profil Picture:
    <input type="File" name="image" placeholder="Your email address">
  </label>

  <br>
  <br>

<button> Sign Up Freeer</button>
</form>

<a href="/google/login"> Sign Up with google</a>