<h2>What are you looking for ?</h2>

<form action="process-activity" method="POST">

  <label>
    Restaurant :
    <input type="text" name="typeOfActivity" placeholder="Suggest a Restaurant...">
    <br>
  </label>

  <label>
    Cultural Activity :
    <input type="text" name="nameOfActivity" placeholder="Go get smarter...">
  </label>

  <label>
    Visit :
    <input type="text" name="activityDetail" placeholder="An absolute go to...">
  </label>

  <label>
    Drinks :
    <input type="text" name="priceOfActivity" placeholder="Go get some drinks...">
  </label>

  <label>
    Laid Back :
    <input type="text" name="chill" placeholder="For pleasure...">
  </label>
</form>