<h1> Welcome to your Trip </h1>



{{!--
<ul>
  {{#each tripList}}
  <li>
    <h3> {{this.destination}}</h3>
  </li>
  {{else}}
  <p> No trip yet</p>
  <a href="/create-trip"> Create Your trip </a>
  {{/each}} --}}

  <form action="process-activity" method="POST">

    <label>
      Restaurant :
      <input type="text" name="typeOfActivity" placeholder=" Suggest a Restaurant... ">

    </label>

    <label>
      Cultural Activity :
      <input type="text " name="nameOfActivity " placeholder="Go get smarter... ">
    </label>

    <label>
      Visit :
      <input type="text " name="activityDetail " placeholder="An absolute go to... ">
    </label>

    <label>
      Drinks :
      <input type="text " name="priceOfActivity " placeholder="Go get some drinks... ">
    </label>


    <button>Add an activity</button>
  </form>

  </a>
</ul>

{{#each Activity}} {{this._activity}} {{/each}}