

<h1> Welcome {{blahUser.username}} to your trip {{tripList.destination}} !</h1>

 <h2>What are you looking for ?</h2>

<form action="/process-activity" method="POST">

  <label>
    Type of Activity :
    <input type="text" name="typeOfActivity" placeholder="What Kind of Activity? ">
    <br>
  </label>

  <label>
    Name :
    <input type="text" name="nameOfActivity" placeholder="Name ...">
  </label>

  <label>
    Detail :
    <input type="text" name="activityDetail" placeholder="Some détail ..">
  </label>

  <label>
    Price :
    <input type="text" name="priceOfActivity" placeholder="The price ...">
  </label>



    <button>Add an activity</button>
  </form>

  </a>
</ul>

{{#each activities}} {{activities.trip}} {{/each}}