<h2> Update Your Friends ! </h2>
<form action="/email-trip" method="POST" id="form-container">
  <label for="Name">Email of your Friend : </label>
  <input id="name" type="email" name="emailFriend" placeholder="j@mail.fr">

  <br>
  <br>
    <button>
    Send an invit to your Friends 
  </button>
  </form>