<h2>Update Your Trip</h2>

<form action="/update-trip/{{tripId}}" method="POST" id="form-container">


  <label for="FirstName">Destination : </label>
  <input id="firstname" type="text" name="destination"  value="{{tripList.destination}}" placeholder="What's Your Destination">

  <br>
  <br>
    <button>
   Update Your Amazing Trip
  </button>
  </form>